<div class="flex flex-col md:flex-row place-content-start bg-gray-300">
  <h2 class="pr-2"><strong><%= flight.departure_airport.name << "   ->   " << flight.arrival_airport.name %></strong></h2>
  <h3 class="pr-2"><%= flight.departure_time %></h3>
  <h3 class="pr-2"><strong>Flight duration:</strong> <%= flight.duration.strftime("%Hh %Mm") %></h3>
  <h2><strong>Price: </strong><%= flight.price %> PLN <strong>Total for <%= params[:_passengers] %> ticket(s): </strong><%= number_with_precision flight.price*params[:_passengers].to_i, :precision => 2 %> PLN</h2>
</div>
