<%= form_with method: :get, url: root_path do |f| %>
  <div>
    <%= label_tag(:departure_airport_id, "Departure Airport") %>
    <%= f.select(:departure_airport_id, options_for_select(@airports_options)) %>
  </div>
  <div>
    <%= label_tag(:arrival_airport_id, "Arrival Airport") %>
    <%= f.select(:arrival_airport_id, options_for_select(@airports_options)) %>
  </div>
  <div>
    <%= label_tag(:departure_time, "Departure time") %>
    <%= f.datetime_field :departure_time %>
  </div>
  <div>
    <%= label_tag(:_passengers, "Number of passengers") %>
    <%= f.select(:_passengers, ((1..10).map { |i| [ i ] })) %>
  </div>
  <%= f.submit value="SUBMIT" %>
<% end %>