<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flightbooker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-300">
    <%= link_to root_path do %>
      <span class="text-red-500 font-semibold font-serif drop-shadow-md">Flight</span><span class="text-gray-200 font-medium font-semibold underline drop-shadow-md">Booker</span>
    <% end %>
    <%= turbo_frame_tag "modal" %>
    <% if current_admin %>
      <%= button_to "Sign out", destroy_admin_session_path, method: :delete  %>
    <% end %>
    <main class="container px-5 flex flex-col content-center mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
